In [1]:
def add(a,b):
    return a+b

In [2]:
add(8,5)

13

In [3]:
def max(a,b):
    if(a>b):
        return a
    else:
        return b

In [4]:
max(4,5)

5

In [8]:
def greet(name,message= "Hello"):
    print(message + "," + name)

greet("sir")

Hello,sir

In [15]:
def greet(**kwargs):
    for a,b in ab.items():
        print("key is: "+a + " and value is :" +b)

greet(name="Sravanthi", message = "Hello")
greet(a="1",b="2")

key is: name and value is :Sravanthi
key is: message and value is :Hello
key is: a and value is :1
key is: b and value is :2

In [18]:
## Accessing a global variable

i=1

def modify():
    global i
    i= i +1
    print(i)
    
modify()
print(i)

2
2

In [21]:
## Build-in functions

####  abs() ####


i=-10.5

print(abs(i))

10.5

In [22]:
### all ###

## if a value in a list is False then all() will retrun False else True

## False values in Python are None, False, 0

list1 = ["6", 1, "Pyhton", -5, 4.5]

all(list1)

True

In [23]:
list1 = ["6", 1, 0,"Pyhton", -5, 4.5]

all(list1)

False

In [27]:
## dir()

myTuple = ("t","l", "re")

dir(myTuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [28]:
type(myTuple)

tuple

In [41]:
myset = {"a",2,3,4,5}

type(myset)

set

In [42]:
for index, value in enumerate(myset):
    print(index,value)

0 a
1 2
2 3
3 4
4 5

In [43]:
str = "Sravanthi"

for index,char in enumerate(str):
    print(index , char)

0 S
1 r
2 a
3 v
4 a
5 n
6 t
7 h
8 i

In [44]:
for index,char in enumerate(str, start=1):
    print(index , char)

1 S
2 r
3 a
4 v
5 a
6 n
7 t
8 h
9 i

In [53]:
## Zip()

list1 = [1,2,3]
list2 = ["a","b","c"]

zipped = list(zip(list1,list2))

print(zipped)
type(zipped)

[(1, 'a'), (2, 'b'), (3, 'c')]

list

In [55]:
list1 = [1,2,3,4,5,6]
list2 = ["a","b","c"]

zipped = set(zip(list1,list2))

print(zipped)
type(zipped)

{(3, 'c'), (2, 'b'), (1, 'a')}

set

In [67]:
## filter() ###

def find_positive(num):
    if(num>0):
        return num

    
list1 = list(range(-10,10))

print("list")
print(list1)

print("Filtered list")
print(list(filter(find_positive,list1)))

print("Filtered Range")
print(list(filter(find_positive,range(-10,10))))

list
[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Filtered list
[1, 2, 3, 4, 5, 6, 7, 8, 9]
Filtered Range
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
lst = [1,2,3,4]

print(isinstance(lst,list))

print(type(lst)==list)

True
True

In [72]:
## map ###

myList1 = list(range(1,11))

def squared(num):
    return num * num


print(list(map(squared,myList1)))

print(list(map(find_positive,list1)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[None, None, None, None, None, None, None, None, None, None, None, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
## reduce ##

def diff(num1,num2):
    return num2 - num1
    
from  functools import reduce

listR = list(range(7,10))

reduced = reduce(diff, listR)

reduced

8

In [87]:
## lambda ##

print(set(map(lambda num:num**2, listR)))

{64, 49, 81}

In [91]:
######### Recursive functions #######

# A function call itself is a recurssive functions

def factorial(num):
    if num==1:
        return 1
    else:
        return (num * factorial(num-1))
num =7
print("Factorial of {0} is {1}".format(num,factorial(num)))

Factorial of 7 is 5040

In [102]:

def factorial(num):
    temp = 1
    while(num>=1):
        temp = num * temp
        num = num-1
    return temp

factorial(5)

120

In [2]:
li = [1,2,3,3,4,5,1,2,3]

li1 = list(set(li))

li,li1

([1, 2, 3, 3, 4, 5, 1, 2, 3], [1, 2, 3, 4, 5])

TypeError: unsupported operand type(s) for -: 'list' and 'list'