In [1]:
rows = int(input("enter no. of rows: ").strip())

enter no. of rows: 5

In [18]:
for num in range(1,rows+1):
    print((str(num)+" ")*num)

1
2 2
3 3 3
4 4 4 4

In [11]:
rows = int(input("enter no. of rows: ").strip())

for num in range(1,rows+1):
    for i in range(num):
        print("*",end = " ")
    print()

enter no. of rows: 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [13]:
print(list(range(10,0,-2)))

[10, 8, 6, 4, 2]

In [15]:
rows = int(input("enter no. of rows: ").strip())

for num in range(1,rows+1):
    for i in range(num):
        print(num,end = " ")
    print()

enter no. of rows: 4
1
2 2
3 3 3
4 4 4 4

In [58]:
rows = int(input("enter no. of rows: ").strip())

for num in range(1,rows+1):
    for i in range(num):
        print(num+i,end=" ")
    print()

enter no. of rows: 5
1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

In [81]:
rows = int(input("enter no. of rows: ").strip())
temp=1
for num in range(1,rows+1):
    for i in range(num):
        print(temp,end=" ")
        temp=temp+1
    print()

enter no. of rows: 8
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36

In [85]:
rows = int(input("enter no. of rows: ").strip())
temp=1
for num in range(1,rows+1):
    for i in range(num):
        print(temp,end = " ")
        temp = temp+1
    print()

enter no. of rows: 4
1
2 3
4 5 6
7 8 9 10

In [95]:
rows = int(input("enter no. of rows: ").strip())

for num in range(rows,0,-1):
    for i in range(num):
        print("*",end = " ")
    print()

enter no. of rows: 4
* * * *
* * *
* *
*

In [19]:
rows = int(input("enter no. of rows: ").strip())
temp=1
for num in range(1,rows+1):
    for j in range(num,rows+1):
        print(" ",end=" ")
    for i in range(temp):
        print("*",end = " ")
    temp = temp+2
    print()

enter no. of rows: 3
      *
    * * *
  * * * * *

In [7]:
########### prime number finding


num = int(input("Enter a number: ").strip())

for i in range(2,num):
    if num%i == 0:
        flag = True
        break
    else:
        flag = False
        
if(flag):
    print("Given number %s is not a Prime:"%num)
else:
    print("Given number %s is a Prime:"%num)

Enter a number: 9
Given number 9 is not a Prime:

In [18]:
n1,n2 = 5,15

print(n1|n2)

15